@charset "UTF-8";
/* CSS Document */


* {
	margin: 0; 
	padding: 0; 
	border: none; 
}

.wrapper {
	width: 80%; 
	margin: auto; 
}

nav {
	border-bottom: 1px solid #FFDC9C;
	border-top: 1px solid #FFDC9C; 
	width: auto;
	padding: 5px; 
	margin: auto; 
	display: block;
	text-align: center;
	margin-top: 40px; 
	margin-bottom: 5px;
}


#navigation li { 
	list-style: none; 
	display: inline; 
	line-height: 1.5; 
	letter-spacing: 3px; 
	font-weight: normal;  
	font-size: 15px;
	padding: 20px; 
}

#navigation a { /* her påvirkes linket */
	margin: 0px 15px -1px 15px; 
	font-family: arial, sans-serif; 
	text-decoration: none; /* her fjernes understregningen */
	color: #FDA300; 
	padding: 5px 1px; /* rækkefølge: top, højre, bund, venstre (uret rundt) */
	border-radius: 0px; 
	display: inline-block; 
	width: 100px;  
	text-align: center;  
}
	
#navigation a:hover {
	color: #979797; 
}

/* styling af det første link alene */
#navigation a:first-of-type {
	margin-left: 0; 
}

h1 {
	letter-spacing: 7px; 
	line-height: 1.5; 
	font-size: 25px; 
	font-weight: normal; 
	margin-top: 70px; 
	text-align: center; 
}

h2 {
	margin-top: 100px; 
}

body {
	background-color: white;   
}


.omkring-design-kodning {
	display: flex; 
	justify-content: space-between; 
	font-size: 18px; 
	 
}

.omkring-design-kodning div {
	margin: 0; 
}

.omkring-design-kodning img {
	margin-top: 50px; 
	margin-bottom: 150px; 
}

h3 {
	font-size: 18px; 
	font-weight: normal;
}

.about-me {
	font-family: arial, sans-serif; 
}

.about-me h1 {
	font-size: 45px; 
	font-weight: bold; 
	letter-spacing: 0px; 
	text-align: left; 
	margin-left: 50%; 
	margin-top: 7%; 
}

.about-me h2 {
	font-weight: normal;
	margin-left: 50%;   
	margin-top: 15px;
	font-size: 25px;
	color: #878787; 
}

.about-me h3 {
	font-size: 15px; 
	display: block; 
	margin-top: 25px; 
	margin-left: 50%; 
	letter-spacing: 1.0px; 
	line-height: 2.0;
	color: #878787;
}

.about-me img {
	margin-left: 13%;
	margin-bottom: 200px; 
	margin-top: -425px; 
}



/* Min projekt-side */

.projects h1 {
	display: flex; 
	justify-content: space-between;
	letter-spacing: 2.0px; 
	margin-top: 70px;
	margin-left: 30px; 
}


.projects img {
	width: 340px; 
	height: 320px; 
	margin-top: 0px; 
	margin-bottom: 60px; 
	margin: 5px; 
	margin-left: 30px;
	display: inline; 
	border: 1px solid grey;
}

.projects2 img {
	width: 340px; 
	height: 320px; 
	margin-top: 0px; 
	margin-bottom: 60px; 
	margin: 5px; 
	margin-left: 30px; 
	display: inline; 
	border: 1px solid grey;

}

.projects2 h1 {
	display: flex; 
	justify-content: space-between;
	letter-spacing: 2.0px; 
	margin-top: 70px;
	margin-left: 30px; 
}


/* Contact-form */

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid orange;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
}

input[type=submit] {
    background-color: orange;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}

.container {
    border-radius: 5px;
    background-color: none;
    padding: 70px;
	margin: 0px; 
}

.container {
	width: 50%;
	margin-left: 25%; 
	margin-bottom: 150px; 
}



/* Min Footer */

.footer {
   width: 100%; 
	left: 0;
   bottom: 0;
   background-color: #FFC357;
   color: white;
   text-align: left; 
	padding: 30px; 
}

























